@model DreamHouse4You.Web.ViewModels.Administration.Access.AddCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>message:= @ViewData["message"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedParentCategoryId" class="control-label  col-md-2">Жанр</label>

                <select asp-for="SelectedParentCategoryId" class="col-md-6">
                    @foreach (var category in Model.ParentCategorys.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="SelectedParentCategoryId" class="text-danger col-md-4"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

