@using DreamHouse4You.Common
@using DreamHouse4You.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (this.SignInManager.IsSignedIn(this.User))
{
    <li class="nav-item text-dark">
        <a class="nav-link text-dark">@(this.User.Identity.Name)! <i class="ti-angle-down"></i></a>

        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <ul class="submenu">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="AddCategory" asp-action="Index" title="Add Category">Добави категори</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="AllAddedCategories" asp-action="Index" title="Added Category">Всички категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                </li>
            </ul>
    }
    else if (this.User.IsInRole(GlobalConstants.UserRoleName))
    {
        <li class="Appointment">
            <div class="book_btn d-none d-lg-block">
                <a class="nav-link text-dark" asp-area="User" asp-controller="Access" asp-action="Adding">Add new ad</a>

            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="User" asp-controller="Access" asp-action="Adding">Index</a>
        </li>
    }
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="btn nav-link text-dark" style="color:white">Изход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>

        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Regiistration">Рергистрация</a>

        </li>
    }
